<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Articulo Formulario</title>
</head>

{% extends "nav_up_dwn.html" %}
{% block contenido1 %}

{% if formulario.errors %}
<p style="color: red;"> Error: alguno de los datos ingresados es incorrecto, revisar</p> 
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>


{% endblock %}
</html>