<!DOCTYPE html>

{% extends "nav_up_dwn.html" %}

{% block contenido1 %}

<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto Final - Coderhouse </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'index/css/styles.css' %}" rel="stylesheet" />



    </head>
    <body style="background-color: #AEB4BE ;">

        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Blog de Fotos</h1>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" alt="..." />
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title">Featured Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_960_720.jpg" width="500" height="250" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Lugar Desconocido</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/08/30/12/08/horseshoe-bend-1630528_960_720.jpg" width="500" height="250" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Curva de la Herradura - Estados Unidos</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/04/12/18/50/mount-fitzroy-2225382_960_720.jpg" width="500" height="250" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Monte Fitzroy</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/12/29/23/30/glacier-583419_960_720.jpg" width="500" height="250" alt="..." />
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Glaciar Perito Moreno</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                -->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search autor-->
                    <h6>Buscar Autor</h6>
                    <form action="/busqueda_autor/" method="GET">
                        <input type="text" name="nombre" id="nombre">
                        <input type="submit" value="Buscar">
                    </form>
                    <br>
                    <br>
                    <!-- Search articulo-->
                    <h6>Buscar Artículo</h6>
                    <form action="/busqueda_articulo/" method="GET">
                        <input type="text" name="titulo" id="titulo">
                        <input type="submit" value="Buscar">
                    </form>
                    <br>
                    <br>

                    <!-- Search seccion-->
                    <h6>Buscar Sección</h6>
                    <form action="/busqueda_seccion/" method="GET">
                        <input type="text" name="categoria" id="categoria">
                        <input type="submit" value="Buscar">
                    </form>
                    <br>
                    <br>
                    
                     






                    <!-- Categories widget-->
                    <!-- Agregar sección
                    <a href="/agregar-seccion/"> Agregar nueva sección</a>
                    <div class="card mb-4">
                        <div class="card-header">Secciones</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>Web Design</li>
                                        <li>HTML</li>
                                        <li>Freebies</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>JavaScript</li>
                                        <li>CSS</li>
                                        <li>Tutorials</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Alumnos</div>
                        <div class="card-body">Stankevicius Nicolás</div>
                        <div class="card-body">Martincevich Nazareno</div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock %}